body {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

main {
    width: 75%;
    margin: 0 auto;
}
main > h1 { text-align: center; }

.content { display: flex; }
.content h4 {
    padding: 3px 0px 2px 12px;
    margin: 0;
    color: #006fb6;
    border-bottom: 1px solid #a0a0a0;
}

.user-details, .batch-details {
    width: 30%;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    height: min-content;
}
.user-details button, .batch-details button { margin-top: 1.5em; }
#gender { text-transform: capitalize; }

table { 
    padding: 0.75em 1em; 
    text-align: center;
}
.live-class {
    width: 400px;
    height: 300px;
    margin: 0px 12px;
    background-color: #aaa;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.live-class > h2 {
    margin: 0 24px;
    text-align: -webkit-center;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.table-field {
    text-align: end;
    width: 25%;
    padding: 0.25em;
    color: #a0a0a0;
}
.table-value {
    padding: 0.25em 0.25em 0.25em 0.75em;
    text-align: left;
    width: 100%;
}

#logout {
    position: absolute;
    top: 2em;
    right: 3em;
}